#app-component-wrapper {
    padding: 50px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

select {
    cursor: pointer;
    padding: 5px;
    border: 2px solid lightgreen;
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    #app-component-wrapper {
        min-width: 400px;
        max-width: 410px;
    }
}