.hero-data-wrapper {
    display: grid;
    grid-template-areas: "catalysts skills awakenings locations";
    grid-template-columns: 175px 100px 100px 1fr;  

    @media only screen and (max-width: 750px) {
        grid-template-columns: 155px 55px 90px 1fr;  
    }

    h5 {
        //margin-bottom: 5px;
        border-bottom: 1px solid black;
    }

    .catalyst-names-wrapper > p,
    .skills-wrapper > p,
    .awakenings-wrapper > p,
    .catalyst-locations-wrapper > p {
        margin: 10px 0;
    }

    .catalyst-names-wrapper {
        grid-area: catalysts;
    }

    .skills-wrapper {
        grid-area: skills;
    }

    .awakenings-wrapper {
        grid-area: awakenings;
    }

    .catalyst-locations-wrapper {
        grid-area: locations;

        .world-stage {
            color: red,
        }

        span {
            display: inline-block;
            margin-right: 15px;
            overflow: auto;
        }
    }
}

.hide {
    display: none !important;
}