#catalysts-list-wrapper {
    margin: 20px 0;

    .hero-name-wrapper {
        position: relative;
        cursor: pointer;

        &:hover::after {
            width: 100%;
        }

        &::before, &::after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 100%;
            width: 0;
            left: 0;
            top: 0;
            z-index: -1;
            background: rgb(225, 225, 225);
        }
        &::before {
            width: 100%;
        }
        &::after {
            background: rgb(150, 150, 150);
            transition: width 0.3s;
        }

        h2 {
            padding: 5px;
            margin-bottom: 10px;
            text-align: center;
            position: relative;
        }
    }
}

.hide {
    display: none !important;
}

.hero-data-wrapper {
    display: grid;
    grid-template-areas: "catalysts skills awakenings locations";
    grid-template-columns: 175px 100px 100px 1fr;  

    h5 {
        margin-bottom: 5px;
        border-bottom: 1px solid black;
    }
}

.catalyst-names-wrapper > p,
.skills-wrapper > p,
.awakenings-wrapper > p,
.catalyst-locations-wrapper > p {
    margin: 5px 0;
}

.catalyst-names-wrapper {
    grid-area: catalysts;
}

.skills-wrapper {
    grid-area: skills;
}

.awakenings-wrapper {
    grid-area: awakenings;
}

.catalyst-locations-wrapper {
    grid-area: locations;
}
