/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 0.5rem;
    padding: 20px;
}

span, p {
    font-size: 12px;
}

@media only screen and (max-width: 750px) {
    body {
        padding: 10px;
    }
    span, p {
        font-size: 10px;
    }
}