.hero-wrapper {
    position: relative;

    .hero-name-wrapper {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        color: white;

        &:hover::after {
            width: 100%;
        }

        &::before, &::after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 100%;
            width: 0;
            left: 0;
            top: 0;
            z-index: -1;
            background: black;
        }
        &::before {
            width: 100%;
        }
        &::after {
            background: rgb(100, 100, 100);
            transition: width 0.3s;
        }

        .flip {
            &::before {
                transform: rotate(135deg);
            }
            &::after {
                transform: rotate(225deg);
            }
        }

        .align-headers {
            width: 300px;
        }

        h2 {
            padding: 5px;
            text-align: center;
            display: inline-block;
            position: relative;
            font-size: 22px;

            &::before, &::after {
                content: '';
                display: inline-block;
                position: absolute;
                height: 3px;
                width: 12px;
                background: white;
                top: 19px;
                transition: all 0.2s;
            }
            &::before {
                transform: rotate(225deg);
                right: -25px;
            }
            &::after {
                transform: rotate(135deg);
                right: -32px;
            }
        }
    }
}